version: "3"
services:
  app1:
    build: ./app
    container_name: app1
    expose:
      - "5000"
  app2:
    build: ./app
    container_name: app2
    expose:
      - "5000"
  app3:
    build: ./app
    container_name: app3
    expose:
      - "5000"
  app4:
    build: ./app
    container_name: app4
    expose:
      - "5000"
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app1
      - app2
      - app3
